.notFoundAlert {
    border: 2px solid #ff0000;
    padding: 16px;
    background-color: white;
    text-align: center;
}

.notFoundMessage {
    font-size: 18px;
    color: #ff0000;
    margin-bottom: 8px;
}

.notFoundButton {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.notFoundButton:hover {
    background-color: #cc0000;
}
