.multiSelectContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .multiSelectContainer {
    width: 80%;
    max-width: 100%;
  }
}

.multiSelectContainerLoader {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: calc(110% - 20px);
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
